---
import { marked } from 'marked';
export interface Props {
  value: string;
}

const { value } = Astro.props;
const content = marked.parse(value);
const randomId = Math.random().toString(36).substring(7);

const inputId = `input-${randomId}`;
const divId = `div-${randomId}`;
---

<div class="grid grid-cols-2">
  <textarea class="p-2 w-full bg-zinc-900" id={inputId}>{value.trim()}</textarea>
  <div class="relative bg-zinc-900">
    <div class="absolute top-0 right-0 rounded-md text-xs bg-blue-700 p-1">Preview</div>
    <div id={divId} set:html={content}></div>
  </div>
</div>

<!-- TODO: can we replace this with a plugin in remark/reyhpe ? -->
<script type="module" define:vars={{inputId, divId}}>
import { parse } from "https://esm.sh/marked@13.0.3";

const el = document.getElementById(inputId);
const display = document.getElementById(divId);

el.addEventListener('keyup', (e) => {
  const value = e.target?.value;
  const content = parse(value);
  display.innerHTML = content.trim();
});
</script>
