---
import { marked } from 'marked';
export interface Props {
  value: string;
}

const { value } = Astro.props;
const content = marked.parse(value);
const randomId = Math.random().toString(36).substring(7);

const inputId = `input-${randomId}`;
const divId = `div-${randomId}`;
---

<div>
  <textarea class="w-[500px] bg-zinc-900" id={inputId}>
    {value.trim()}
  </textarea>
  <div id={divId} set:html={content}></div>
</div>

<script type="module" define:vars={{inputId, divId}}>

// TODO: figure out how to not CDN this
import { parse } from "https://esm.sh/marked@13.0.3";
// TODO: debounce this
// on key up the markdown content

const el = document.getElementById(inputId);
const display = document.getElementById(divId);

el.addEventListener('keyup', (e) => {
  const value = e.target?.value;
  const content = parse(value);
  display.innerHTML = content.trim();
});
</script>
